.container {
    color: black;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.title {
    color: white;
    padding: 12px;
    text-align: center;
     background-color: var(--first)
}

.box {
   background-color: var(--first)
}
.presentation {
    position: relative;
    display: flex;
    justify-content: center;
}

.image {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 0 auto;
  object-fit: cover;
}

.description {  
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 2.5rem;
    color: rgb(255, 255, 255);
    opacity: 0.9;
    background-color: rgba(0, 0, 0, 0.7)
}

.strong {
    color: var(--second)
}

.pDescription {
    max-width: 600px;
    padding: 12px;  
}

.h2 {
    padding: 12px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: var(--first)
}

.p {
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.7em;
    padding: 15px;
    border-bottom: 1px solid white;
    background: linear-gradient(to right, white, var(--first));
}

.ul {
    padding: 12px;
    font-weight: bold;
    list-style: none;
}

.li {
    font-weight: bold;
    color: var(--first);
    padding: 8px;
    text-decoration: underline;
    font-size: 1.2em;
    margin-left: 6px;
}

.intro {
    color: white;
}